PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sanjeevani
DB_USER=postgres
DB_PASSWORD=

JWT_ACCESS_SECRET= HgWecwqrimaOFlEu7kSYpIapbLiIisXXXuXCKBm0fxk3OuPDjq+LEmUqfrEZoKfBrka0DtWiCV0Y2zjP3XpW2Q==
JWT_REFRESH_SECRET= 8cD7XCV+yBXXOzoooWx5gEK5k4oLK+AHTm1WfkbpE7wbWcsPuLH6iui+l0mS/yMgjUbLkWIqxdbv67BRuXMUHg==
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d